.gridImage {
    max-width: 200px;
}

.action-column {
    width: 70px;
}

#project-comfort_ids label, #realestate-comfort_ids label, #region-comfort_ids label {
    display: block;
}

#project-comfort_ids, #realestate-comfort_ids {
    height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.photo-item {
    list-style: none;
}

.alert-dismissable .close, .alert-dismissible .close {
    right: 0px;
}