/* Carousel base class */
.topSlide .carousel {
    height: 600px;
    margin-bottom: 40px;
}
/* Since positioning the image, we need to help out the caption */
.topSlide .carousel-caption {
    z-index: 10;
}

/* Declare heights because of positioning of img element */
.topSlide .carousel .item {
    height: 600px;
    background-color: #777;
}
.topSlide .carousel-inner > .item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 600px;
}

.topSlide .carousel.empty {
    /*    height: 80px;*/
    display: none;
}

.topSlide .breadcrumb {
    background-color: transparent;
    color: #fff;
}

.topSlide .breadcrumb > .active {
    color: #fff;
}

.topSlide .breadcrumb a {
    color: #c6c116;
}

.breadcrumb > li + li:before {
    padding: 0 1px;
    color: #ccc;
    content: "\203A\00a0";
}
