/* Special class on .container surrounding .navbar, used for positioning it into place. */

/* Flip around the padding for proper display in narrow viewports */
.topSlide .navbar-wrapper > .container {
    /*    padding-right: 0;
        padding-left: 0;*/
}
.topSlide .navbar-wrapper .navbar {
    /*    padding-right: 15px;
        padding-left: 15px;*/
}
.topSlide .navbar-wrapper .navbar .container {
    /*   width: auto;*/
}

.navbar {
    margin-bottom: 0px;
}