.topSearchBlock {
    font-size: 16px;
    color: #1c3c47;
    padding: 25px;
    border: 6px solid #c4c00e;
    background-color: #fff;
}

.topSearchBlock .guidebookSearchParameters {
    padding: 30px;
}

.topSearchBlock .guidebookSearchExtraParameters {
    background: #f5f5f5;
}

.topSearchBlock .form-control {
    padding: 15px;
    height: auto;
    font-size: 14px;
    color: #1c3c47;
    /*background-color: #f2d8d8;*/
}

.topSearchBlock .form-control:focus {
    border: 1px solid #ccc;
    box-shadow: none;
}

.topSearchBlock .form-control option:hover {
    background-color: #c4c00e !important;
}

.searchPage {
    margin-top: 50px;
}

.searchPage .btn {
    border-radius: 0px;
    background-color: #bdd610;
    padding: 12px;
    font-size: 16px;
    margin-top: 15px;
}
