@font-face {
    font-family: Trebuchet;
    src: url(fonts/Trebuchet_MS.ttf);
}

html,
body {
    color: #1c3c47;
    height: 100%;
    font-family: Trebuchet;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -330px;
    padding: 0 0 330px;
}

.footer {
    min-height: 330px;
}

.bottomFooter {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.footerFeedback {
    padding-top: 34px;
    min-height: 112px;
    background-color: #bdd610;
}

.footerFeedback .title {
    font-weight: bold;
    color: #1c3c47;
}

.footerFeedback .imgBlock {
    margin-top:  -7px;
}

.footerFeedback .btnAdnvace {
    width: 100%;
    background-color: #ce00cd;
    color: #fff;
    font-weight: bold;
    height: 43px;
}

.footerFeedback .fieldAdvance {
    height: 43px;
}

.footer .footerNav {
    padding-top: 30px;
    min-height: 158px;
}

.footer .footerMenu li {
    margin-bottom: 10px;
    display: inline-block;
    list-style: none;
    width: 32%;
}

.footer .footerMenu li a {
    color: #1c3c47;
    text-decoration: underline;
}

.footer .footerMenu li a:hover {
    text-decoration: none;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.topLane {
    height: 50px;
    background-color: #333640;
}

.navbarAdvance {
    opacity: 0.9;
    position: relative;
    background-color: #49636c;
    border-color: #49636c;
}

.navbarAdvance .navbar-brand {
    display: block;
    padding: 0px;
    margin-top: -20px;
    height: 104px;
}

.topMenu {
    margin-top: 18px;
}

.topMenu li a {
    font-weight: bold;
    color: #fff !important;
    font-size: 12px;
    text-transform: uppercase;
}

.topMenu .active a {
    background-color: #49636c !important;
}

.topMenu i {
    color: #c6c116;
    margin-right: 10px;
}

.footer {
    background-color: #f1f1f1;
    color: #010101;
}

/*.topSlide {
    background: url('../images/top_slide.jpg')no-repeat;
    background-size: cover;
    min-height: 500px;
    margin-bottom: 50px;
}*/

.pageTitle {
    font-size: 30px;
    color: #1c3c47;
    margin-bottom: 20px;
}

.pageTitleHr {
    width: 150px;
    height: 1px;
    background-color: #c4c00e;
    margin:  0 auto;
    margin-bottom: 10px;
}

.topFlags img {
    width: 16px;
}

.topFlags a {
    margin-right: 5px;
    margin-right: 5px;
    display: inline-block;
}

.topFlags .active img{
    border: 2px solid #c4c00e;
}

.topLaneNav .item {
    height: 50px;
    border-left: 1px solid #3d444f;
    padding: 13px 13px 0px 13px;
}

.topLaneNav .itemLast {
    border-right: 1px solid #3d444f;
}

.topLaneNav {
    border-left: 1px solid #163039;
    border-right: 1px solid #163039;
}

.topSocial div {
    margin-right: 10px;
    color: #fff;
    display: inline-block;
}

.topSocial a {
    display: block;
    height: 22px;
    width: 22px;
    background-color: #d1e92b;
    border-radius: 50%;
}

.topSocial a i {
    font-size: 12px;
    color: #1b3a45;
}

.howItWork, .bottomMotivation {
    margin-top: 50px;
    margin-bottom: 50px;
}

.bottomMotivation p  {
    font-weight: bold;
    text-transform: uppercase;
    color: #1c3c47;
}

.howItWork p {
    color: #1c3c47;
    margin-top: 10px;
}

.reviewsBlock .pageTitle {
    color: #bdd610;
}

.reviewsBlock {
    /*    min-height: 500px;*/
    padding: 20px;
    background: url('../images/feedback_back.jpg')no-repeat;
    background-size: cover;
}

.currencyDropDown {
    /*for WebKit*/
    -webkit-appearance: none;
    /* for FF */
    -moz-appearance: none;
    text-indent: 0.01px; 
    text-overflow: '';
    /* for IE */
    -ms-appearance: none;
    appearance: none!important;
    background-image: url('../images/top_lane_currency_select.png');
    background-repeat: no-repeat;
    height: 23px;
    border-radius: 0px;
    width: 54px;
    padding: 0px 0px 0px 4px;
    color: #c0d719;
    font-size: 10px;
    font-weight: bold;
    background-color: #333640;
    display: inline;
}

.currencyDropDownBlock option:hover{
    background-color: #2d2931 !important;
}


.currencyDropDown::-ms-expand {
    display: none;
}

.currencyDropDown option {
    padding: 5px 15px;
}

.faqSearchField {
    /*    padding: 20px 20px 20px 30px;*/
    height: 44px;
    color: #b4b4b4;
    font-style: italic;
    border-radius: 0px;
    border: 3px solid #e5e5e5;
}

.faqSearchSubmit {
    border-radius: 0px;
    border: 0px;
    background-color: #bdd610;
    padding: 11px 13px;
}

.faqSearchSubmit:hover {
    background-color: #bdd610; 
    border-radius: 0px;
    border: 0px;
}

.faqSearchSubmitBlock {
    margin-top: -43px;
    padding-right: 17px;
}

.faqContainer h3 {
    color: #1c3c47;
    font-weight: bold;
    font-size: 24px;
}

.faqItems .question {
    color: #1c3c47;
    text-decoration: none;
    border-bottom: 2px dotted #1c3c47;
}

.faqItems .question:hover {
    text-decoration: none;
    border-bottom: none;
}

.faqItems .answer {
    color: #7998a3;
}

.faqItems .faqItem {
    margin-bottom: 20px;
}

.faqItems .showMore {
    cursor: pointer;
    text-decoration: none;
    border-bottom: 2px dotted #ef3125;
    color: #ef3125;
}

.faqItems .showMore:hover {
    text-decoration: none;
    border-bottom: none;
}

.faqContainer {
    margin-top: 20px;
}

.faqContainer .annotation {
    color: #1c3c47;
}

.faqContainer .searchExample {
    color: #2f9bbe;
    cursor: pointer;
}

.language-drop-down {

}
.language-drop-down li {
    margin-right: 5px;
    width: 16px;
    height: 10px;
}
.language-drop-down li a {
    display: block;
    width: 16px;
    height: 10px;
}
.language-drop-down li a.active {
    width: 18px;
    height: 12px;
    border: 1px solid #c4c00e;
}
.language-drop-down li a.lang-ru {
    background: url("../images/flags/flag-ru-m.png") 100% 100% no-repeat;
}
.language-drop-down li a.lang-en {
    background: url("../images/flags/flag-en-m.png") 100% 100% no-repeat;
}

.registrationBlock {
    color: #1c3c47;
}

.registrationBlock input[type="radio"] {
    width: 13px;
    height: 13px;
    -webkit-appearance: none;
    border: none;
    background: url(../images/reg_radio.png) no-repeat; 
}

.registrationBlock input[type="radio"]:checked {
    background: url(../images/reg_radio_active.png) no-repeat; 
}

.registrationBlock .modal-header {
    border-bottom: 5px solid #f1f1f1;
}

.registrationBlock .modal-dialog {
    max-width: 475px;
}

.registrationBlock .modal-body {
    padding: 0px 100px 50px 100px;
    max-width: 475px;
}

.registrationBlock .modal-content {
    border-radius: 0px;
}

.registrationBlock .modal-title {
    color: #1c3c47;
    padding-top: 20px;
    padding-bottom: 25px;
}

.registrationBlock .closeAdvance {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: #bdd610;
    opacity: 1;
    margin-right: -35px;
    margin-top: -35px;
}

.registrationBlock .submitAdvance {
    color: #1c3c47;
    font-size: 18px;
    background-color: #bdd610;
    border-radius: 0px;
    padding: 17px 50px;
    border-color: #bdd610;
}

.registrationBlock .fieldAdvance {
    border-radius: 0px;
    border: 3px solid;
    border-color: #f1f1f1;
    color: #c7c7c7;
    font-size: 14px;
    font-style: italic;
}

.registrationBlock .has-error .form-control {
    border-color: #a94442;
}

.registrationBlock .has-success .form-control {
    border-color: #3c763d;
}

.registrationBlock .help-block, .registrationBlock .help-block-error {
    font-size: 12px;
}

.registrationBlock .control-label {
    display: none;
}

/*.breadcrumbBlock {
    position: absolute;
    top: 155px;
    color: #fff;
}

.breadcrumbBlock a {
    color: #c4c00e;
}*/

.regulation {
    margin-bottom: 20px;
    margin-top: 20px;
}

.regulation .panel-heading {
    background-color: #fff;
    padding-left: 0px;
}

.regulation .panel-title, .regulationTitle {
    font-size: 20px;
    color: #1c3c47;
}

.regulationTitle {
    margin-top: 10px;
}

.regulation .list-group-item, .regulation .list-group, .regulation .panel {
    border: none !important;
    border-top: none !important;
}

.regulation .list-group {
    padding-left: 20px;
}

.regulationContent {
    color: #1c3c47;
}

.regulation .list-group-item a {
    color: #1c3c47;
    text-decoration: underline;
}

.regulation .list-group-item {
    padding: 0px;
}

.regulation .list-group-item a:hover {
    text-decoration: none;
}

.regulation .panel-title a {
    text-decoration: none;
    border-bottom: 1px dotted  #1c3c47;
}

.regulation .panel-title a:hover {
    text-decoration: none;
    border-bottom: none;
}

.regulationLinks {
    padding: 20px;
    background-color: #333640;
    color: #fff;
    margin-top: 40px;
}

.regulationLinks p {
    margin-bottom: 0px;
}

.contactsBlock h1 {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 50px;
    color: #fff;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.contactsPanel {
    background-color: #1a0809;
}

.contactsPanel .images {
    background-color: #c4c00e;
}

.contactsPanel .item {
    padding-top: 20px;
    padding-bottom: 20px;
}

.contactsPanel .itemText {
    padding-top: 20px;
}

.contactsBlock ymaps {
    margin:  0 auto;
}

.contactsBlock .yMapXs {
    margin-top: 20px;
}

.contactsPanel {
    margin-bottom: 50px;
    color: #bdc1c1;
    font-size: 18px;
}

.contactsPanel .link {
    margin-bottom: 0px;
    font-weight: bold;
    color: #bdd610;
    font-size: 24px;
    text-decoration: none;
    margin-top: 10px;
}

.contactsPanel .map {
    padding: 20px;
}

.contactsPanel .images .item img{
    max-width: 100%;
}

.auth-client .auth-link .auth-title {
    display: none !important;
}

.auth-clients {
    padding-left: 0px !important;
    margin-bottom: 0px !important;
}

.auth-client {
    margin: 0px !important;
    float: none !important;
    display: inline-block;
}

.feedbackItem {
    border: 10px solid #bdd610;
    min-height: 300px;
}

.feedbackItem .username {
    margin-top: -100px;
    font-weight: bold;
    font-size: 18px;
    color: #fff;
}

.feedbackItem {
    background-color: #fff;
}

.feedbackItemArrow {
    margin-top: 115px;
}

.feedbackItemContent {
    padding-top: 20px;
    padding-bottom: 20px;
    color: #1c3c47;
}

.feedbackItemContent .date {
    font-weight: bold;
    font-size: 18px;
    font-style: italic;
}

.searchFormLink {
    text-align: center;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    background-color: #ef3125;
    display: inline-block;
}

.searchFormLink:hover {
    color: #fff;
    text-decoration: none;
}

.mainTitle {
    margin-bottom: 0px;
    font-size: 36px;
    font-weight: bold;
    color: #fff;
}
.mainTitleAppName {
    margin-bottom: 0px;
    font-size: 106px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
}

.guidebook {
    font-size: 18px;
    color: #1c3c47;
    margin-top: 30px;
}

.guidebook h1, .guidebook h3 {
    font-size: 24px;
    font-weight: bold;
}

.guidebook .nearRegions a {
    color: #ef3125;
    text-decoration: underline;
    font-size: 18px;
}

.guidebook .nearRegions a:hover {
    text-decoration: none;
}

.guidebook .region-sights-photo {
    width: 100%;
    margin-bottom: 20px;
}

.guidebook .region-sights-photo img {
    width: 100%;
    height: auto;
}

.guidbookImage {
    width: 100%;
}

.sameRegionAvatar {
    background-image: url(../images/region_nophoto.png);
    height: 200px;
    overflow: hidden;
}

.sameRegionDescription {
    padding: 20px;
    background-color: #bdd610;
    margin-bottom: 20px;
    height: 150px;
    overflow: hidden;
}

.sameRegionDescription a {
    font-size: 16px;
    font-weight: bold;
    color: #1c3c47;
    display: block;
    text-align: center;
}

.appartamentHidden {
    display: none;
}

.appartamentPhoto {
    width: 100%;
    min-height: 283px;
}



.appartamentRating {
    background-color: #bdd610;
    border-radius: 5px;
    padding: 0 20px;
    position: absolute;
    margin-top: 10px;
    margin-left: 20px;
    z-index: 999;
}

.appartamentDescription {
    padding: 20px;
    border-top: 0px;
}

.appartamentDescription a {
    color: #1C3C47;
}

.appartamentDescription .type {
    margin-bottom: 0px;
    color: #818181;
}


.appartamentDescription .price {
    color: #ef3125;
}

.siteSearchSortBlock {
    margin-bottom: 20px;
}

.siteSearchSortBlock h4 {
    text-align: right;
}

.realEstateItemBlock {
    background-color: #f5f5f5;
    border: 1px solid #f5f5f5;
}

.viewMoreLink {
    text-decoration: none;
    color: #1c3c47;
    font-size: 15px;
    border-bottom: 2px dotted #1c3c47;
}

.viewMoreLink:hover {
    border-bottom: 0px;
    text-decoration: none;
}

.viewMoreSummary {
    font-size: 15px;
    color: #9a9a9a;
}

.guidBookSearch h1 {
    color: #fff;
    font-weight: bold;
    font-size: 50px;
    text-transform: uppercase;
    margin-top: 50px;
}

.guidBookSearch .options li {
    display: inline-block;
    list-style: none;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #bdd610;
    margin-bottom: 10px;
    border-radius: 5px;
    text-align: center;
    color: #1c3c47;
    font-size: 18px;
}

.guidBookSearch .options {
    text-align: center;
}

.guidBookSearch .topSearchBlock {
    background-color: #fff;
    margin-bottom: 50px;
}

.guidBookSearch .topSearchBlock .form-control {
    background-color: #f1f1f1;
}

.breadcrumb {
    margin-bottom: 0px;
    z-index: 100;
    position: relative;
}

.saveRegion {
    margin-top: 43px;
    padding: 5px;
    background-color: #ef3125;
    color: #fff;
    text-decoration: none;
    display: block;
}

.saveRegion:hover {
    color: #fff;
}

.saveRegion i {
    margin-right: 5px;
    border-right: 1px solid #ff7269;
    padding-left: 5px;
    padding-right: 5px;
}

.weatherBlock {
    background-color: #ef3125;
    padding-top: 5px;
    height: 73px;
}

.weatherBlock .guidbookWeatherImage {
    max-width: 100%;
    margin-top: 10px;
}

.weatherBlock .weather {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 0px;
    color: #fff;
}

.weatherBlock .weatherOptions {
    font-size: 10px;
    margin-bottom: 5px;
    color: #fff;
}

.weatherBlock .wi {
    color: #fff;
    font-size: 30px;
    margin-top: 14px;
}

.topSearchBlock .slider-handle {
    border-radius: 0px;
    height: 25px;
    margin-top: -8px !important;
    background-color: #1c3c47;
    background-image: none;
}

.topSearchBlock .slider-handle:after, .topSearchBlock .slider-handle:before {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.topSearchBlock .slider-handle:after {
    border-color: rgba(28, 60, 71, 0);
    border-top-color: #1c3c47;
    border-width: 6px;
    margin-left: -6px;
}
.topSearchBlock .slider-handle:before {
    border-color: rgba(28, 60, 71, 0);
    border-top-color: #1c3c47;
    border-width: 10px;
    margin-left: -10px;
}

.topSearchBlock .slider {
    width: 100%;
}

.dropdown-menu {
    box-shadow: none;

}

.datepicker {
    background: none;
    /*background-color: #FFE5E5 !important;*/
    background: #fff;
    border-radius: 0;
    border: 2px solid #d1d1d1;
}

.datepicker-days .day{
    border: 1px solid #d1d1d1;
    border-radius: 0;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background: none;
    font-size: 13px;
    font-weight: bold;
    color: #1c3c47;
}

.ui-datepicker-week-end {
    color: #ef3125;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
    background: none;
    background-color: #c4c00e;
}

.realEstateAddFormBlock {
    padding: 30px;
    border: 6px solid #c4c00e;
}

.realEstateAddFormBlock .panel-heading p {
    margin-bottom: 0px;
    color: #1c3c47;
}

.realEstateAddFormBlock .panel {
    border-radius: 0px;
    font-weight: bold;
    font-size: 16px;
    border-color: #fff;
}

.realEstateAddFormBlock .panel-heading {
    border-color: #F5F5F5;
}

.realEstateAddFormBlock .panel-body {
    border-color: #fff;
}

.realEstateAddFormBlock label {
    display: block;
}

.realEstateAddFormBlock small {
    font-size: 14px;
    font-style: italic;
    color: #bebebe;
}

.realEstateAddFormBlock .form-control {
    margin-bottom: 20px;
    height: 45px;
}

.realEstateSubmitButton, .realEstateSubmitButton:hover{
    font-size: 18px;
    color: #1c3c47;
    width: 100%;
    background-color: #bdd610;
    padding-top: 15px;
    padding-bottom: 15px;
    border-color: #c4c00e;
    display: block;
    text-align: center;
    text-decoration: none;
}

.realEstateAddFormBlock .kv-fileinput-caption, .realEstateAddFormBlock .fileinput-upload-button, .realEstateAddFormBlock .fileinput-remove-button {
    display: none;
}

.realEstateAddFormBlock .btn-file {
    background-color: #C4C00E;
    border-color: #C4C00E;
    padding: 10px 100px;
}

.realEstatePage .bottomLine {
    background: #d7d7d7;
    height: 1px;
    margin-bottom: 20px;
}

.realEstatePage .dailyPrice,
.realEstatePage .monthlyPrice {
    width: 150px;
    height: 60px;
    float: right;
    padding: 10px;
    font-size: 22px;
    font-weight: bold;
    line-height: 1;
}

.realEstateContainer {
    top: -80px;
    position: relative;
}

.projectPhotoSlider {
    width: 100%;
    height: 600px;
    margin-bottom: 50px;
}

.projectPhotoSlider .fotorama__nav-wrap {
    margin-top: -150px;
}

.projectPhotoSlider .fotorama__thumb {
    border: 5px solid #bdd610;
}

.projectPhotoSlider .fotorama__thumb-border {
    border: 0;
}

.realEstatePage .dailyPrice {
    background-color: #f39300;
}

.realEstatePage .monthlyPrice {
    background: #bdd610;
}

.realEstatePage .priceType {
    font-size: 14px;
}

.realEstateInfo {
    background: #f1f1f1;
    border-radius: 5px;
    padding: 15px;
}

.realEstateInfo .property {
    background: #fff;
    border-radius: 5px;
    color: #1c3c47;
    padding: 10px 15px;
    font-weight: bold;
    margin-bottom: 15px;
}

.realEstateInfo .property i {
    padding-right: 15px;
}

.realEstateComfort ul {
    padding-left: 0px;
    margin-left: 0px;
    text-align: center;
}

.realEstateInfo .propertyComfort {
    background: #bdd610;
    border-radius: 5px;
    color: #1c3c47;
    padding: 10px 15px;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 5px;
    text-align: center;
    margin-right: 10px;
    margin-left: 10px;
    list-style: none;
    display: inline-block;
}

.realEstateInfo .getFullInfo {
    color: #1c3c47;
    text-decoration: underline;
    text-decoration-style: dotted;
}

.realEstateInfo .ui-datepicker {

}

.realEstateInfo .ui-datepicker .ui-state-default {
    background: #bdd610;
}

.realEstateInfo .ui-datepicker .highlight a {
    background: #d6160d;
    color: #fff;
}

.datesCalendar {
    position: absolute;
    z-index: 100;
    display: none;
}

.realEstateBooking {
    border: 5px solid #bdd610;
    padding: 25px;
}

.realEstateBooking .bookingButton {
    margin-top: 20px;
    width: 100%;
    border: 0;
    outline: 0;
    background-color: #bdd610;
    color: #1c3c47;
    font-weight: bold;
    padding: 10px;
}

.userLine {
    text-align: center;
    background-color: #ef3125;
    color: #fff;
    font-size: 11px;
    display: block;
    padding: 3px 3px;
    text-decoration: none;
}

.userLine i {
    border-right: 1px solid #ff7269;
    padding-right: 3px;
}

.userLine:hover {
    color: #fff;
    text-decoration: none;
}

.realEstateSocial {
    background: #1c3c47;
    padding: 20px;
    color: #fff;
    font-weight: bold;
}

.realEstateSocial .shareMoreLink {
    color: #adc61a;
    text-decoration: underline;
}

.realEstatePayment .heading {
    background: #e7e7e7;
}

.realEstatePayment .heading {
    background: #e7e7e7;
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
}

.realEstatePayment .summary {
    background: #dbddcd;
    padding: 10px 0 5px 0;
}

.realEstatePayment .fullInfo {
    background: #f5f5f5;
    padding: 10px 0 15px 0;
}


.realEstatePayment .payButton {
    width: 100%;
    border: 0;
    outline: 0;
    background-color: #bdd610;
    color: #1c3c47;
    font-weight: bold;
    padding: 10px;
    display: block;
    text-align: center;
}

.realEstatePayment .bookingRules {
    color: #ef3125;
    text-decoration: underline;
}

.similiarLink {
    color: #1c3c47;
    text-decoration: underline;
    text-decoration-style: dotted;
}

.similiarRealEstate {
    margin-bottom: 20px;
}

.similiarRealEstate .photo {
    background-image: url(../images/apartment_nophoto.png);
    background-size: cover;
    height: 200px;
}

.similiarRealEstate .info {
    background: #f5f5f5;
    border-bottom: 5px solid #e5e5e5;
    border-left: 5px solid #e5e5e5;
    border-right: 5px solid #e5e5e5;
    padding: 15px;
    color: #1c3c47;
    font-size: 18px;
}

.similiarRealEstate .info a {
    color: #1c3c47;
    font-size: 13px;
    font-weight: bold;
}

.similiarRealEstate .price {
    color: #ef3125;
}

.noPadding {
    padding: 0;
}

.rowOffset {
    margin-bottom: 28px;
}

.currencyDescription {
    text-transform: uppercase;
    color: #afc1c7;
    margin-left: 5px;
}

.footerFeedback label {
    display: none;
}

.reviewsBanner {
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 50px;
    background: url('../images/feedback_back.jpg')no-repeat;
    background-size: cover;
    margin-top: -35px;
}

.reviewsBanner .title {
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    font-size: 50px;
}

.reviewItem {
    margin-bottom: 20px;
    border: 3px solid #bdd610;
}

.reviewImage img {
    width: 100%;
}

.reviewItem .description {
    padding: 20px;
}

.reviewItem .text-red {
    font-size: 18px;
    color: #ef3125;
}

.reviewItem a {
    color: #1c3c47;
}

.reviewItem .projectName {
    font-weight: bold;
    font-size: 18px;
}

.reviewItem .projectRegion {
    font-size: 14px;
}

.reviewItem .date {
    color: #585858;
}

.reviewItem .userName {
    margin-bottom: 0px;
}

.facebookLink {
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #4f5089;
    padding-left: 10px;
    padding-top: 5px;
}

.facebookLink i {
    color:#fff;
}

.reviewUserAvatar {
    max-width: 100%;
}

.reviewItems .plus, .reviewItems .minus {
    display: inline-block;
    padding: 0px 5px;
    text-align: center;
    font-weight: bold;
}

.reviewItems {
    font-size: 14px;
    color: #585858;
}

.reviewItems .plus {
    font-size: 15px;
    color: #1c3c47;
    background-color: #bcd50d;
}

.reviewItems .minus {
    font-size: 15px;
    color: #fff;
    padding: 0px 5px;
    background-color: #ef3125;
}

.reviewItem .title {
    font-weight: bold;
    color: #1c3c47;
    font-size: 16px;
}

.reviewItem .review {
    font-size: 14px;
    color: #585858;
}

.viewAllItems {
    padding-bottom: 50px;
    padding-top: 50px;
}

.btnAdnvaceYellow, .btnAdnvaceYellow:hover {
    color: #1c3c47;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 0px;
    background-color: #bdd610;
    border-color: #bdd610;
}

.marginTop20 {
    margin-top: 20px;
}

.videoReviewsItem {
    margin-bottom: 20px;
}

.topBanner {
    padding: 20px;
    background-color: #e7e7e7;
    font-size: 16px;
    color: #283d4e;
    font-weight: bold;
}

.profileBlock {
    margin-top: 20px;
}

.profileBlock .panel {
    border-radius: 0px;
    background-color: #f5f5f5;
    border-color: #f5f5f5;
}

.profileBlock .leftMenu a {
    color: #283d4e;
    text-decoration: underline;
}

.profileBlock .leftMenu a:hover {
    background-color: #f5f5f5 !important;
    border-color: #f5f5f5 !important;
    color: #f92e1f !important;
    text-decoration: underline;
}

.profileBlock .leftMenu .active a {
    background-color: #bed610 !important;
    color: #283d4e !important;
}

.profileNoAvatar {
    max-width: 100%;
}

.profileBlock .fieldAdvance {
    border-radius: 0px;
    height: 40px;
}

.promotionChild .date {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 18px;
}

.promotionChild .content {
    margin-top: 10px;
}

.promotionChild a {
    color: #f92e1f;
    text-decoration: underline;
}

.promotionChild a:hover {
    text-decoration: none;
}

.panel-white {
    background-color: #fff !important;
    border-color: #fff !important;
}

.mainContent img {
    max-width: 100%;
}

.link-red {
    color: #f92e1f !important;
    text-decoration: underline;
    font-size: 16px;  
}

.selectedObject p {
    margin-bottom: 0px;
}

.selectedObject .price {
    color: #f92e1f;
}

.profileRealEstateBtn {
    padding: 5px 10px;
    font-size: 14px;
    margin-top: 20px;
    background-color: #BED610 !important;
    color: #283D4E !important;
    text-decoration: none;
    width: 100%;
}

.realEstateServices {
    margin-top: 20px;
}

.previousSelectedObject {
    background-color: #E7E7E7 !important;
    border-color: #E7E7E7 !important;
}

.removeLikedRegion {
    display: block;
    padding: 3px 9px;
    border-radius: 50%;
    background-color: #f92e1f;
    color: #fff;
    font-size: 20px;
    position: relative;
    float: right;
    cursor: pointer;
    margin-right: -12px;
}

.removeLikedRegion i {
    /*    margin-left: 6px;*/
}

.likedRegionImage {
    width: 100%;
    /*height: 150px;*/
    margin-top: -18px;
}

.viewedObjectPhoto {
    margin-top: -18px;
    /*height: 168px;*/
}

.viewedObjectItem {
    margin-top: 20px;
}

.userTopNavigation {
    background-color: #53545d;
}

.userTopNavigation a {
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: underline;
    color: #fff;
    font-size: 12px;
    margin-top: 15px;
    margin-bottom: 15px;
    display: block;
}

.userTopNavigation a:hover {
    text-decoration: none;
}

.mainContent {
    /*    margin-top:20px;*/
    /*    margin-bottom: 20px;*/
}

.bold {
    font-weight: bold;
}

.topSearchFacilitiesItem {
    margin-top: 5px;
    color: #818181;
}

.advanceOptions {
    padding: 20px;
    border: 2px solid #d7d7d7;
    margin-top: 20px;
    margin-bottom: 20px;
}

.field-searchform-showoptions label {
    display: none;
}

.field-searchform-showoptions {
    margin-bottom: 0px;
}

.siteSearchBanner {
    height: 300px;
    background: transparent url("../images/feedback_back.jpg") no-repeat scroll 0% 0% / cover;
    margin-top: -132px;
}

/*.siteSearchTopSearchBlock {
    margin-top: -100px;
}*/

.noPhoto {
    width: 100%;
}

.itemPhotos {
    height: 210px;
    overflow: hidden;
}

.realEstateItemBlock {
    max-width: 320px;
    margin: 0 auto;
}

.siteSearchSortDropDown {
    height: 44px;
    padding: 10px 12px;
    background-color: #f1f1f1;
    color: #1c3c47;
}

.siteSearchSortDropDown option {
    padding: 10px;
}

.siteSearchSortDropDown option:hover {
    background-color: #bdd610 !important;
}

#searchItemsMoreLink {
    margin-bottom: 50px;
    margin-top: 50px;
}

.navbarAdvance .navbar-brand img {
    height: 104px;
}

/* 
PAGE ABOUT
*/
.whoIsMrbutler {
    min-height: calc(100vh - 46px);
    background: url('../images/about_who_is_mr_butler.jpg')no-repeat;
    background-size: cover;
    margin-top: -56px;
    padding-top: 66px;
}

.whoIsMrbutlerTitle {
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    font-size: 48px;
}

.pageAbout .topMenu {
    margin-top: 5px;
}

.pageAbout .leftMenu {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 300px;
    min-height: 100vh;
    background-color: #20414c;
    z-index: 99999999;
    opacity: 0.9;
}

.aboutLeftMenu {
    padding-right: 20px;
    padding-left: 20px;
}

.pageAbout .leftMenu .logo {
    padding-top: 22px;
}

.pageAbout .leftMenu .logo img {
    height: 104px;
}

.aboutLeftMenu li {
    padding: 10px;
    margin-bottom: 10px;
}

.aboutLeftMenu a {
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
}

.aboutLeftMenu li {
    display: list-item;
    list-style: none;
}

.aboutLeftMenu i {
    margin-right: 10px;
    font-size: 16px;
    color: #bdd610;
}

.aboutLeftMenu a:hover {
    text-decoration: none;
}

.aboutLeftMenu li:hover, .aboutLeftMenu .active  {
    background-color: #bdd610;
}

.aboutLeftMenu li:hover a, .aboutLeftMenu .active a {
    color: #1c3c47;
}

.aboutLeftMenu li:hover i {
    color: #1c3c47;
}

.whoIsMrButlerItems {
    margin-bottom: 50px;
    margin-top: 50px;
}

.whoIsMrButlerItem {
    margin-bottom: 20px;
}

.whoIsMrButlerItem p {
    margin-bottom: 0px;
    margin-top: 10px;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
}

.whoIsMrbutlerDescription {
    color: #fff;
    text-align: justify;
    margin-bottom: 20px;
}

.wannaGetToRent {
    background: url('../images/about_wanna_get_to_rent.jpg')no-repeat;
    background-size: cover;
    padding: 20px;
}

.wannaGetToRentTitle {
    margin-bottom: 50px;
    margin-top: 50px;
    color: #1c3c47;
    font-weight: bold;
    font-size: 48px;
    text-transform: uppercase;
}

.wannaGetToRent h4 {
    font-size: 24px;
}

.wannaGetToRent .link {
    margin-bottom: 30px;
    margin-top: 30px;
}

.wannaGetToRent .files li {
    display: inline-block;
    list-style: none;
    margin-left: 10px;
    margin-right: 10px;
}

.wannaGetToRent .files li a {
    color: #1c3c47;
    font-size: 18px;
}

.wannaGetToRent .files {
    text-align: center;
}

.wannaRent {
    background: url('../images/about_wanna_rent.jpg')no-repeat;
    background-size: cover;
    padding: 20px;
}

.wannaRentTitle {
    margin-bottom: 50px;
    margin-top: 50px;
    color: #fff;
    font-weight: bold;
    font-size: 48px;
    text-transform: uppercase;
}

.wannaRent .description {
    font-size: 24px;
    color: #fff;
    text-align: justify;
}

.pageAbout .partners {
    background: url('../images/about_partners.jpg')no-repeat;
    background-size: cover;
    padding: 20px;
}

.pageAbout .partners .partnersTitle {
    margin-bottom: 30px;
    margin-top: 50px;
    color: #1c3c47;
    font-weight: bold;
    font-size: 48px;
    text-transform: uppercase;
}

.pageAbout .partners h4 {
    font-size: 24px;
    margin-bottom: 20px;
}

.pageAbout .team {
    background: url('../images/about_team.jpg')no-repeat;
    background-size: cover;
    padding: 20px;
}

.pageAbout .team .teamTitle {
    margin-bottom: 30px;
    margin-top: 50px;
    color: #fff;
    font-weight: bold;
    font-size: 48px;
    text-transform: uppercase;
}

.pageAbout .team h4 {
    color: #fff;
    font-size: 24px;
    margin-bottom: 20px;
}

.pageAbout .pageAboutSlideImage {
    width: 220px;
    height: 220px;
    /*border: 2px solid red;*/
}

.partners .leftArrow {
    display: block;
    left: -59px;
    position: relative;
    top: -489px;
    float: left;
    cursor: pointer;
}

.partners .rightArrow {
    display: block;
    left: 19px;
    position: relative;
    top: -489px;
    float: right;
    cursor: pointer;
}

.team .leftArrow {
    display: block;
    left: -59px;
    position: relative;
    top: -306px;
    float: left;
    cursor: pointer;
}

.team .rightArrow {
    display: block;
    left: 19px;
    position: relative;
    top: -306px;
    float: right;
    cursor: pointer;
}


.pageAbout .slideItem {
    /*max-width: 100%;*/
    border-radius: 50%;
}

.pageAbout .teamName {
    margin-top: 10px;
    font-weight: bold;
    font-size: 24px;
    color: #fff;
}

.pageAbout .teamData {
    margin-bottom: 0px;
    color: #fff;
}

.pageAbout .teamName,
.pageAbout .teamData {
    width: 220px;
}

.pageAbout .pageAboutSlider {
    margin-bottom: 50px;
}

.pageAbout .pressAboutUs {
    background: url('../images/about_press_about_us.jpg')no-repeat;
    background-size: cover;
    padding: 20px;
}

.pageAbout .pressAboutUs .pressAboutUsTitle {
    margin-bottom: 30px;
    margin-top: 50px;
    color: #1c3c47;
    font-weight: bold;
    font-size: 48px;
    text-transform: uppercase;
}

.aboutReviewTitle {
    margin-bottom: 30px;
    margin-top: 50px;
    color: #fff;
    font-weight: bold;
    font-size: 48px;
    text-transform: uppercase; 
}

.pressAboutUsItem {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 20px;
}

.pressAboutUsImage {
    max-width: 100%;
}

.pressAboutUsItem .date {
    font-size: 18px;
    margin-bottom: 5px;
}

.pressAboutUs a {
    color: #585858;
}

.pressAboutUsItems {
    margin-bottom: 30px;
}

.aboutReviewsLinkBlock {
    margin-bottom: 20px;
    margin-top: 20px;
}

.contactsBlock {
    background: url('../images/about_contacts.jpg')no-repeat;
    background-size: cover;
    padding: 20px;
}

.contacts-page {
    margin-top: -80px;
}

.leftMenu .leftMenuButton {
    height: 50px;
    width: 50px;
    float: right;
    text-align: center;
    margin-right: -50px;
    background-color: #20414C;
    z-index: 99999999;
    opacity: 0.9;
    border-radius: 0px 5px 5px 0px;
    padding-top: 5px;
    cursor: pointer;
}

.leftMenu .leftMenuButton i {
    color: #fff;
}

.leftMenu .leftMenuButton:hover i {
    color: #333640;
}

.leftMenu .leftMenuButton i{
    font-size: 40px;
}

.arrows {
    float: right;
    margin-right: 20px;
    margin-top: -40px;
}

/* 
END PAGE ABOUT
*/


.arrows a {
    cursor: pointer;
}

.userBalance {
    font-size: 20px;
}

.radio-inline-block {
    display: inline-block;
    margin-right: 15px;
}

.field-error {
    border-color: #A94442;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
}

.balance_menu a{
    width: 100%;
    color: #fff;
    text-transform: uppercase;
    background-color: #1c3c47;
    text-align: center;
    display: block;
    padding: 10px 20px;
    text-decoration: none;
}

.balance_menu .active, .balance_menu a:hover {
    background-color: #bdd610;
    color: #1c3c47;
}

.field-payment-payment_system_id .control-label {
    display: none;
}

.field-payment-amount .control-label {
    display: none;
}

.balanceBlock {
    padding: 20px;
}

.site-dynamic-page {
    /*background: url('../images/about_team.jpg')no-repeat;*/
    background-size: cover;
    /*padding-top: 50px;*/
    padding-bottom: 50px;
    /*margin-top: -36px;*/
}

.site-dynamic-page h1 {
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 50px;
    margin-top: 50px;
}

.site-payments-content .title {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 50px;
    margin-top: 50px;
    text-transform: uppercase;
}

.PayMethods .block {
    max-width: 300px;
    padding: 40px 20px;
    border: 3px solid #bdd610;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;
}

.PayMethods .block img {
    max-width: 100%;
    margin: 0 auto;
}

.PayMethods .block p {
    margin-top: 20px;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
}

.model-content {
    margin-bottom: 20px;
}

.realEstatePage .fotorama__thumb {
    border: 3px solid #bdd610;
}

.realEstatePage .nav-tabs {
    border: 0;
}

.realEstatePage .mapButtons li a {
    background-color: #e5e5e5;
    border: 0;
    margin-right: 5px;
    color: #1c3c47;
    font-weight: bold;
    outline: none;
}

.realEstatePage .mapButtons li.active a {
    background-color: #bdd610;
    border: 0;
}

.promoteBlock {
    background: #f1f1f1;
    border-radius: 5px;
    border: 1px solid #dbdbdb;
    padding: 10px;
    width: 280px;
    margin-left: -300px;
    position: absolute;
    display: none;
}

.backgroundBlock {
    /* for breadcrumbs */
    margin-top: -80px;
    /*height: 600px;*/
    position: relative;
    z-index: 50;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 1px;
}

.backgroundBlockContent {
    position: relative;
    z-index: 30;
}

.backgroundBlockGallery {
    /*margin-top: -600px;*/
    /*height: 600px;*/
    z-index: 0;

    width: 100%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
}

.backgroundBlockGallery .carousel {
    width: 100%;
    height: 100% !important;
}

.backgroundBlockGallery .carousel .carousel-inner {
    width: inherit;
    height: inherit;
}

.backgroundBlockGallery .carousel .item {
    width: 100%;
    height: 100% !important;
}

.blockFotorama {
    height: 600px;
    width: 100%;
    z-index: 0;
}

.blockFotorama,
.blockFotorama .fotorama__nav,
.blockFotorama .fotorama__stage {
    overflow: visible !important;
}

.objectReview .caption, .field-reviews-rating .caption, .field-reviews-rating .clear-rating-active {
    display: none;
}

.objectReview .rating-stars, .rating-container .rating-stars {
    color: #f12c21;
}

.objectReview .rating {
    color: #f12c21;
}

.objectReview {
    margin-bottom: 20px;
    color: #585858;
}

.objectReview p {
    margin-bottom: 0px;
}

.bookingPage .table {
    border: 2px solid #eaeaea;
}

.bookingPage .table thead {
    background: #dbddcd;
    color: #1c3c47;
}

.bookingPage .table thead th {
    font-weight: normal;
}

.bookingPage .table tbody tr {
    background: #fff;
}

.bookingPage td,
.bookingPage th {
    border-right: 1px solid #ebeceb;
    border-bottom: 1px solid #ebeceb;
}

.selectedObjectPhotos {
    /*width: 173px;*/
    /*height: 130px;*/
}

.profileTable .summary {
    display: none;
}

.profileTable th, .profileTable tr, .profileTable td {
    border-color: #dbddcd;
}

.profileTable th {
    background-color: #dbddcd;
}

.profileTable th, .profileTable th a {
    padding: 15px !important;
    color: #1c3c47;
}

.profileTable td {
    padding: 15px !important;
    color: #B1B3A3;;
    background-color: #fff;
}

.profileTable td:first-child {
    color: #1c3c47; 
}

.carousel-wrapper {
    min-height: 80px;
}

.openAdvanceOptionsBlock {
    margin-top: 10px;
}

.reviewLeftArrow .reviewRightArrow {
    cursor: pointer;
    display: block;
}

.realEstateHidden {
    display: none;
}

.showEstateCalendarButton {
    color: #1c3c47;
}

.realEstateAddMotivation {
    margin-top: 50px;
}

.realEstateAddMotivation .title {
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 30px;
    margin-top: 10px;
}

.realEstateAddMotivation .motivationDescr {
    margin-top: 50px;
    font-size: 18px;
    text-align: center;
    color: #fff;
}

.profileCalendars .ui-datepicker .ui-state-default {
    background: #fff;
}

.profileCalendars .ui-datepicker .highlight a {
    background: #d1d1d1;
    /*color: #fff;*/
}

.profileCalendar {
    width: 260px;
}

.profileCalendarSelector {
    margin-bottom: 20px;
}

.calendarLegend {
    display: inline-block;
    height: 15px;
    width: 15px;
    /*float: left;*/
    border: 1px solid grey;
    margin-right: 10px;
    /*margin-top: 3px;*/
    background: #fff;
    vertical-align: middle;
}

.reviews-content {
    padding-top: 20px;
}

.feedbackItemPhoto {
    text-align: center;
    padding-left: 0;
    padding-right: 0px;
}


.guidBookSearch .options {
    margin-left: 0px;
    padding-left: 0px;
}

@media screen and (max-width: 767px) {

    .openAdvanceOptionsBlock {
        text-align: center;
    }

    .footer .footerMenu li {
        display: block;
        width: 100%;
    }

    .footer .footerMenu {
        padding-left: 0px;
    }

    .footerLogoBlock {
        text-align: center;
    }

    .footer .footerFeedback .btnAdnvace, .footer .footerFeedback .fieldAdvance {
        margin-bottom: 20px;
    }

    .feedbackItemContent {
        padding-bottom: 20px;
    }

    .feedbackItemArrow {
        margin-top: 0px;
    }

    .mainTitleAppName {
        font-size: 60px;
    }

    .siteSearchSortBlock h4 {
        text-align: center;
    }

    .pageAboutContent h1 {
        font-size: 18px;
    }

    .pageAboutContent .wannaRentVideoBlock {
        margin-top: 20px;
    }

    .topSocial div {
        margin-right: 3px;
    }

    .whoIsMrbutler {
        margin-top: -51px;
    }

    .pageAboutContent .whoIsMrbutlerDescription {
        padding-left: 20px;
        padding-right: 20px;
    }

    .wannaGetToRent .files li {
        display: list-item;
        margin-bottom: 10px;
    }

    .pressAboutUsItem .date {
        margin-bottom: 10px;
        margin-top:10px;
    }

    .searchFormLink {
        width: 100%;
        margin-bottom: 10px;
    }

    .balanceMenuItem {
        margin-bottom: 10px;
    }

    .confirmPayment {
        margin-bottom: 10px;
    }

    .site-dynamic-page h1 {
        font-size: 24px;
        word-break: break-all;
    }

    .objectTitle, .objectViewRating {
        text-align: center;
    }

    .realEstatePage .dailyPrice, .realEstatePage .monthlyPrice, .propertyComfort, .guidBookSearch .options li {
        float: none !important;
        display: block  !important;
        width: 100%  !important;
        margin-bottom: 10px;
    }

    .propertyComfort, .propertyComfort, .guidBookSearch .options li {
        margin-left: 0px !important;
    }

    .mainTitle {
        margin-top: 50px;
        font-size: 16px;
    }

    .mainTitleAppName {
        font-size: 24px;
    }

    .registrationBlock .modal-body {
        padding: 0px 20px 20px;
    }

    .guidBookSearch h1 {
        font-size: 24px;
    }

    .viewObjectRatingBlock {
        text-align: left !important;
    }
    
    #payment-payment_system_id .radio-inline-block {
        width: 100% !important;
        display: list-item !important;
        list-style: none;
        margin-bottom: 5px;
    }
    
}